html {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-size: 62.5%;
    letter-spacing: normal;
}

.header {
 position: absolute;
 width: 100%;
}

.flag{
width: 200%;
}

div {
    position: relative;
    left: 0%;
    text-align: center;
}

img {
    height: 20rem;
}

h3{
    text-transform: uppercase;
    position: absolute;
    top: -9%;
    left: 1%;
    font-family: 'Franklin Gothic Medium';
    font-size: 2.2rem;
}

#red {
   background-color: rgba(255, 0, 0, 0.4);
}
#orange {
    background-color: rgba(255, 145, 0, 0.53);
 }
 #yellow {
    background-color: rgba(255, 217, 0, 0.527);
 }
 #green {
    background-color: rgba(4, 160, 4, 0.5);
 }
 #blue {
    background-color: rgba(1, 58, 247, 0.52);
 }
 #purple {
    background-color: rgba(152, 0, 253, 0.51);
 }
