html {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-size: 62.5%;
    letter-spacing: normal;
}

.header {
 height: 15vh;
 background-color: rgb(255, 0, 0);
 position: relative;
 border: 2rem;
 border-color: black;
}

div {
    position: relative;
    left: 0%;
    text-align: center;
}

img {
    height: 20rem;
}

h3{
    text-transform: uppercase;
    position: absolute;
    top: -8%;
    left: 1%;
    font-family: 'Franklin Gothic Medium';
    font-size: 2.2rem;
}

#illusion {

}
